.card-container {
    width: 250px;
    border: 2px solid rgb(12, 45, 95);
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    display: inline-block;
  }
  
  .desc {
    height: 130px;
  }
  
  .desc h2 {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: black;
  }
  
  .desc h3 {
    color: black;
    font-size: 1em;
    padding: 10px 0 10px 0;
    text-align: center;
  }

  .moods__topic {
    color: white;
    font-size: 1em;
    text-align: center;
  }

  .moods__value {
    font-size: 1em;
    padding: 2px 0 2px 0;
    text-align: center;
  }