html {
  background-color: rbg(247, 178, 101, 0.4);
}

.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: 100px;
  color: black;
}

.navbar {
  background-color: #ebedf5;
  border: none;
}
